# IDE
.idea/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# Build output
dist/

# Dependencies
node_modules/

# Design files
*.psd
*.ai
*.xcf

# Temporary files
*.tmp
*.bak
*.swp
*~